@model PostInputModel

@{
    ViewData["Title"] = "Создание публикации";
}

<style>
    #tagInputs input {
        max-width: 5em;
    }
    .container {
        width: 50em;
    }
</style>

<div class="container">
    <h1 class="text-center pt-4">Создание публикации</h1>
    @using (Html.BeginForm("CreatePost", "User", FormMethod.Post))
    {
        <div class="form-group pb-2">
            <label asp-for="Title" class="control-label"></label>
            <span asp-validation-for="Title" class="text-danger"></span>
            <input asp-for="Title" class="form-control"/>
        </div>

        <div class="form-group pb-2">
            <label asp-for="Text" class="control-label"></label>
            <span asp-validation-for="Text" class="text-danger"></span>
            <textarea id="dynamicInput" asp-for="Text" class="form-control"></textarea>
        </div>

        <div class="form-group pb-3">
            <label asp-for="Tags" class="control-label"></label>
            <span asp-validation-for="Tags" class="text-danger"></span>
            <div id="tagInputs" class="d-flex">
                <input asp-for="Tags[0]" class="form-control me-2"/>
                <button type="button" id="addTagButton" class="btn bg-white">+</button>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Создать" class="btn btn-primary bg-dark"/>
        </div>
    }
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}


<script>
const input = document.getElementById("dynamicInput");;

input.addEventListener('input', () => {
    adjustTextareaHeight(input);
});

const tagInputsContainer = document.getElementById('tagInputs');
const addTagButton = document.getElementById('addTagButton');
let tagCounter = 1;

addTagButton.addEventListener('click', () => {
    if (tagCounter < 5) {
        const input = `<input class="form-control me-2" type="text" id="Tags_${tagCounter}_" name="Tags[${tagCounter}]" value/>`;
        tagInputsContainer.insertAdjacentHTML('afterbegin', input);
        tagCounter++;                
    }            
});
</script>