@model lib.Blog.Objects.AppUser

@{
    ViewData["Title"] = Model.UserName;
}

<link rel="stylesheet" href="/css/feed.css">
<link rel="stylesheet" href="/css/profile.css">

<style>
    .profile-edit-container a {
        position: absolute;
        right: 0;
        margin: 1em 2em;
    
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
    }
</style>

<script>
function loadPosts(pageNumber) {
    let data = { pageNumber: pageNumber };
    $.ajax({
        url: '/User/LoadPosts',
        type: 'POST',
        data: data,
        success: function (partialView) {
            if (partialView != null)
                $('.feed').append(partialView);
        }
    });
}

let pageNum = 0;
loadPosts(pageNum++);
$(window).scroll(function () {
    if ($(window).scrollTop() == $(document).height() - $(window).height()) {
        loadPosts(pageNum);
    }
});
</script>

<div class="container pt-4">
    <div class="profile c-border overflow-hidden">
        <div class="profile-header row">
            <div class="profile-pic-big col">
                <img src="/pic.jpg" alt="image">
                <div class="edit-pic-container">
                    <div class="edit-pic">
                        <ul>
                            <li>
                                <a href="">Изменить</a>
                            </li>
                            <li>
                                <a href="">Удалить</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="profile-edit col">
                <a class="edit-icon" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512">
                        <style>svg{fill:#ffffff}</style><path d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="profile-edit-container">
            <div class="profile-name">
                @if (!string.IsNullOrEmpty(Model.FirstName) || !string.IsNullOrEmpty(Model.SecondName))
                {
                    <h2>@(Model.FirstName?.ToString() + " " + Model.SecondName?.ToString()) </h2>
                }
                else
                {
                    <h2>@Model.UserName</h2>
                }
                <p>@(Model.Status ?? "")</p>
            </div>
            <a class="btn btn-secondary submit-btn bg-dark border-0" asp-action="EditProfile" asp-controller="User">Редактировать профиль</a>
        </div>
        <div class="profile-body">
            @if (Model.Description != null)
            {
                <h1 class="header-padding">О себе</h1>
                <p class="text-margin pb-2">@Model.Description</p>
            }
        </div>
    </div>
    <div class="feed pt-3">
    </div>
</div>
