.form {
    width: 32em;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form h2 {
    text-align: center;
    padding: 1em 0 1em;
    text-transform: uppercase;
}

.form-floating input.form-control {
    height: 4em;
}

.submit-btn {
    height: 3em;
    text-transform: uppercase;
}