.custom-card {
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 1em;
    margin-top: 1em;
}

.custom-card img {
    max-height: 25em;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.card-text {
    padding: 2em 2em 0em 3em;
}

/*Пост всплывающее окно*/
.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    top:0;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-modified {
    font-size: 12px;
}

.modal-postedOn {
    text-align: end;
}