html {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Finlandica-Regular";
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.c-shadow {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

@font-face {
  font-family: "Finlandica-Regular";
  src: url("../fonts/finlandica/Finlandica-Regular.ttf") format('truetype');
}

/*Nav-Bar*/

nav {
  width: 100%;
  position:  fixed;
  padding-top: 1em;
  top: 0;
  padding-bottom: 1em;
  text-align: end;
  padding-right: 1.5em;
  z-index: 999;
  max-height: 3.5em;
}

nav a {
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  margin: 0 15px;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
}

nav a:before {
  content: '';
  width: 100%;
  height: 3px;
  background: white;
  top: 47%;
  animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

nav a:hover:before {
  animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

nav a:hover {
  color: white;
}

.mini-logo {
  position: fixed;
  font-size: 2em; 
  left: 0.5em;
  top: 4px;
  color: white;
}

@keyframes in {
  0% {
    width: 0;
    left: 0;
    right: auto;
  }

  100% {
    left: 0;
    right: auto;
    width: 100%;
  }
}

@keyframes out {
  0% {
    width: 100%;
    left: auto;
    right: 0;
  }

  100% {
    width: 0;
    left: auto;
    right: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@for $i from 1 through 5 {
  nav a:nth-child(#{$i}) {
    animation:show .2s #{$i*0.1+1}s ease 1 both;
  }
}

/*Search bar */
#form{
  position: relative;
}

#form .fa-search{
  position: absolute;
  top:1.2em;
  left: 1.5em;
  color: #9ca3af;
  cursor: pointer;
}

#form span{
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;
}

.left-pan{
  padding-left: 7px;
}

.left-pan i{
  padding-left: 10px;
}

.form-input{
  height: 55px;
  text-indent: 33px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.form-input:focus{
  box-shadow: none;
  border:none;
}

.search-form {
  margin-top: 1em;
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
  text-decoration: inherit;
}