@{
    var isHomePage = ViewBag.isHomePage ?? false;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <script src="https://use.fontawesome.com/7c79b7128a.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<nav id="nav-bar">
    @if (!isHomePage)
    {
        <a asp-controller="Home" asp-action="Index" class="mini-logo">BLOGIFY</a>
    }
    <a asp-controller="Blog" asp-action="Index">Лента</a>
    <a href="#">Создать</a>
    <a href="#">Профиль</a>
</nav>
<button class="scroll-top bg-dark"><i class="fa fa-angle-up" aria-hidden="true" style="color: #ffffff;"></i></button>
<body>
<main role="main">
    @RenderBody()
</main>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>