@using lib.Extentions
@model PostViewModel

<script>
$(document).ready(function () {
    $(document).on("click", ".post-show-btn-@Model.Post.Id", function () { 
        $.ajax({
            url: "/Blog/Post",
            type: "POST",
            data: { id: @Model.Post.Id },
            success: function (partialView) {
                if (partialView != null)
                    $(".modal").append(partialView).show();
            }
        });
        $(document).on("click", function (event) {
            var modalContent = $(".modal-content");
            if (!modalContent.is(event.target) && modalContent.has(event.target).length === 0) {
                $(".modal").empty().hide();
            }
        });
    });
});
</script>

@if (Model != null)
{
    <div class="row">
        <div class="custom-card c-border">
            <div class="row">
                @if (Model.Index % 2 != 0)
                {
                    <div class="col-4">
                        <img src="/pic.jpg" alt="Image">
                    </div>
                }
                <div class="card-text col">
                    <h1 class="pb-1">@Model.Post.Title</h1>
                    <p>@Model.Post.Text.CutDescription(250)</p>
                    <a id="show-full-post" class="btn btn-primary bg-dark border-0 post-show-btn-@Model.Post.Id">Читать дальше</a>
                </div>
                @if (Model.Index % 2 == 0)
                {
                    <div class="col-4">
                        <img src="/pic.jpg" alt="Image">
                    </div>
                }
            </div>
        </div>
    </div>
}