<div class="row d-flex justify-content-center align-items-center search-form">
    @using (Html.BeginForm("Search", "Blog", FormMethod.Get,
        new { id = "form" }))
    {
        <i class="fa fa-search"></i>
        <input required type="text" class="form-control form-input" name="query" placeholder="type something...">
    }
</div>

<script>
	document.querySelector(".fa-search").addEventListener("click", function (event) {
		let input = document.querySelector(".form-input");

		if (input.value == null) return;
		form.submit();
	});
</script>