@model List<lib.Blog.Objects.Post>

@{
    var query = ViewBag.Query ?? null;
    var tag = ViewBag.Tag ?? null;
    var pageNum = (int)ViewData["PageNum"];
}

<link rel="stylesheet" href="/css/feed.css">

<script>
    function loadPosts(pageNumber) {
        let data = { pageNumber : pageNumber };
        let query = '@(query ?? "")';
        let tag = '@(tag ?? "")';
        if (query != '') data.query = query;
        if (tag != '') data.tag = tag;
        
            $.ajax({
                url: '/Blog/@(query == null && tag == null ? "Index" : "Search")',
                type: 'POST',
                data: data,
                success: function (partialView) {
                    if (partialView != null)
                    $('.feed').append(partialView);
                }
            });
        }
        
        let pageNum = @pageNum;
        loadPosts(pageNum);
        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                loadPosts(++pageNum);
            }
        });
</script>

<div class="container">
    @Html.Partial("_SearchTemplate")
    <div class="feed mb-4">
        @if (Model != null)
        {
            @Html.Partial("_FeedPartial", Model)
        }
    </div>
</div>